body{
    background:rgb(75, 91, 112);
    font:normal 20pt Arial;
}
header{
    color: white;
    text-align:center;
}

#container{
    display: flex;
    justify-content: center;  
}

input{  
    width: 80%
}

#caixa1{
    display: inline-block;
    width:275px;
    height: 300px;
    margin: 5px;
    background:white;
    border-radius:10px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.363);
}

#caixa2{
    display: inline-block;
    width: 500px;
    height: 300px;
    margin: 5px;
    background:white;
    border-radius:10px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.363);
}
select{
    width: 500px;
    height: 250px;
}

section input[type=text]
section input[type=number]{
    position: relative;
    outline: 0;
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

/*botões*/

#caixa1 input[type=button]{
    width: 70%;
    height: 30px;
    cursor: pointer;
    background-color:rgb(70, 142, 236) ;
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: 20px;
    left: 15%;
}

#caixa2 input[type=button]{
    width: 30%;
    height: 30px;
    cursor: pointer;
    background-color:rgb(70, 142, 236) ;
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: -11px;
    left: 19px;
}

#caixa1 input[type=button]:hover{
    background-color:rgb(0, 247, 255);
    color: white;
    transition: 0.5s;
}
#caixa2 input[type=button]:hover{
    background-color:rgb(0, 247, 255);
    color: white;
    transition: 0.5s;
}

footer {
    background-color:rgb(75, 91, 112);
    color: #fff;
    padding: 10px;
    text-align: center;
    font:normal 20pt Arial;
}
